*{margin: 0;
padding: 0;}


header{background-image: url(a.jpg);}

body{background-color: #1D2026;
    min-height: 100vh;
    width: 100%;
    color: aliceblue;
height: 100vh;
width: 100%}

ul {
     float: right;
margin-right: 190px;}

ul li{display: inline-block;
margin-top: 20px;
margin-right: 30px;
padding-left: 10px;
padding-right: 10px}

ul li{border: 2px solid black;
    border-radius: 50px;
    background-image: linear-gradient(to right,#00986f,white);
font-family:comic sans ms;
font-size: 30px;}

ul li a{  text-decoration: none;
color: black;}

ul li:hover{background: aqua;
transition: 0.9s;}

.logo a img{margin-left: 90px;
    margin-top: 5px;
border: 2px solid black;
border-radius: 20px;}

.h1{float: left;
    max-width: 580px;
font-family: comic sans ms;
font-size: 30px;
margin-top: 10%;
margin-left: 35%;}

.h1 a{text-decoration: none;
    background: #00986f;
    color: white;
    box-shadow: 0 0 5px white;
    border-radius: 30px;
    padding: 5px;
    }

.h1 a:hover{background-color: aqua;
color: black;
transition: 0.5s;}


.b{margin-left: 60%;
    margin-top: 15%;
max-width: 300px;
    position: fixed;}

.c{position:fixed;
float: left;
    max-width: 100px;
    max-height: 30vh;
margin-top: 5%;
    margin-left: 15%;}

.contact {float: left;
font-size: 20px;
max-width: 310px;
margin-top: 40%}

.email{border: 1px white;
font-size: 20px;}

.phn{font-size: 20px;}

